@import '../../App.css';

.mainimg {
  height: 100%;
  width: 80%;
  background-color: blue;
}

.thumbnail_grid {
  height: 100%;
  width: 20%;
  background-color: red;
}

.thumbnail {
  height: 10%;
  width: 100%;
  background-color: yellow;
}